body { 
    background-color: #ffffff;
    font-size: 1.125em;  /* 18px / 16px */
    font-family: 'Vollkorn', serif;
    text-align: center; 
}
        
a { 
  text-decoration: none; 
}

header { 
    width: 100%;
    margin: 1% auto 4%; 
}
          
h2 { 
    color: #000000;
    text-align: left;
}

#count {
    height: 20px;
    text-align: center;
}

fieldset { 
    border: none; 
}
   
input, textarea { 
    padding: 10px 15px;
    color: #000000;
    font-size: 0.875em;  /* 14px / 16px */ 
    font-family: 'Vollkorn', serif;
    border: none;
    border-bottom: 1px solid #000000;
}